header{
    background: #888888; /* cor fundo*/
    padding: 20px 0; /* espaço para cima e baixo, e sem para direita e esquerda*/

}
.caixa{
    position: relative; /* texto no meio*/
    width: 940px; /* tamanho largura da caixa*/
    margin: 0 auto; /* calcula a margem automatico*/
}
nav {
    position: absolute; /* ocupa todo o espaço*/
    top: 110px; /* ficar na topo*/
    right: 0; /* alinhado totalmente a direita*/
}
nav li{
    display: inline; /* ficar na horizontal*/
    margin: 0 0 0 15px; /* espaço para esquerda*/
}
nav a{
    text-transform: uppercase; /* texto maiusculo*/
    color: #000000; /* cor texto*/
    font-weight: bold; /* texto em negrito*/
    font-size: 22px; /* tamanho texto*/
    text-decoration: none; /* tira o sublinhado*/

}