body{
    background: #e0d7d7;
}

#banner{
    width: 100%;
}
p {
font-size: 20px;
background: #e0d7d7;
}
.lista{
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    margin-left: 15%;
}
.largura{
    width: 423px;
    height: 400px;
    float: left;
    background: white;
}
.beneficios {
    width: 80%;
}

ul li::marker{
    content: "❤";
}